### OpenTelemetry settings ###
# OTEL_SERVICE_NAME is OpenTelemetry environment variable that specifies the service name for traces
OTEL_SERVICE_NAME="crypto-broker-cli-go"

# Logs
# 'otlphttp', 'otlpgrpc', 'console', 'none' or comma-separated list like 'console,otlphttp', 'console,otlpgrpc'
OTEL_LOGS_EXPORTER="console,otlpgrpc"

# Traces
# 'otlphttp', 'otlpgrpc', 'console', 'none' or comma-separated list like 'console,otlphttp', 'console,otlpgrpc'
OTEL_TRACES_EXPORTER="otlpgrpc"

# always_on, always_off, traceidratio, parentbased_always_on, parentbased_always_off, parentbased_traceidratio
OTEL_TRACES_SAMPLER="always_on"

# Sampling ratio (0.0-1.0) when using ratio-based samplers like traceidratio or parentbased_traceidratio.
OTEL_TRACES_SAMPLER_ARG="0.1"

# Exporter settings
# Valid URL (only used when OTLP exporter is enabled)
OTEL_EXPORTER_OTLP_ENDPOINT="localhost:4317"

# Authorization header for OTLP exporter
OTEL_EXPORTER_OTLP_HEADERS_AUTHORIZATION="API-Token"