# Common file types
.DS_Store

# Environment file
.env

# VS code files
.vscode/*

# Task files
.task/*

# Other crypto repositories
crypto-broker-*/
crypto-broker-*-*/

# Do not include deployment artifacts
deployments/cloud-foundry/**/*-deployment/

# Ignore temporary folder
tmp/
