# Common file types
.DS_Store

# Environment file
.env

# VS code files
.vscode/*

# Task files
.task/*

# Other crypto repositories
crypto-broker-*/
crypto-broker-*-*/

# Do not include deployment artifacts
deployments/cloud-foundry/**/*-deployment/
# Ignore OpenTelemetry Collector binary and related files
deployments/cloud-foundry/otel-collector/bin

# Ignore temporary folder
tmp/

# Loki data folder
loki-data/
