x-test-app-js: &app-base
  image: ghcr.io/open-crypto-broker/test-app-js:latest
  build:
    dockerfile: Dockerfile
    context: ../../crypto-broker-client-js
  restart: always
  depends_on:
    - crypto-broker-server
  volumes:
    - shared_data:/tmp

services:
  test-app-js-hash:
    <<: *app-base
    container_name: test-app-js-hash
    command:
      - --loop=1000
      - --profile=Default
      - hash
      - Hello Cryptobroker!
  test-app-js-sign:
    <<: *app-base
    container_name: test-app-js-sign
    volumes:
      - ../../testing/certificates:/certificates:ro
      - shared_data:/tmp
    command:
      - --loop=1000
      - --profile=Default
      - sign
      - --csr=/certificates/test-csr/csr-nist-secp256r1.csr
      - --caCert=/certificates/test-ca/cert-test-CA-nist-secp384r1.pem
      - --caKey=/certificates/test-ca/test-CA-nist-secp384r1.pem
volumes:
  shared_data:

